@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-2xl;
}

.btn {
  @apply bg-blue-700 font-light px-12 py-3 text-white inline-block cursor-pointer text-center;
}

.btn-thin {
  @apply px-3 py-2;
}

label > * {
  pointer-events: none;
}

.upload-button-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -100000000;
}
